<h2>New Product</h2>

<form class="form" [formGroup]="_addNewProductForm" >
  <mat-form-field  appearance="fill">
    <mat-label>title *</mat-label>
    <input matInput formControlName="title">
    <mat-error>title is Required</mat-error>
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>price *</mat-label>
    <input matInput formControlName="price">
    <mat-error>price is Required</mat-error>
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>description *</mat-label>
    <input matInput formControlName="description">
    <mat-error>description is Required</mat-error>
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>image *</mat-label>
    <input matInput formControlName="image">
    <mat-error>image is Required</mat-error>
    <mat-hint>image as URL</mat-hint>
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>category *</mat-label>
    <!-- <input matInput formControlName="category"> -->
    <mat-select formControlName="category">
      <ng-container *ngFor="let item of _categories">


        <mat-option value="item">{{item}}</mat-option>
      </ng-container>
    </mat-select>
    <mat-error>category is Required</mat-error>
  </mat-form-field>
  <button color="primary" mat-raised-button (click)="onAddNewProduct()"
  [disabled]="!_addNewProductForm.valid"> Submit

  </button>
</form>
